<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ServerIP" value="localhost:1234"/>
    <add key ="ServerTempDir" value ="D:\Test"/>
    <add key ="LocalSaveDir" value =""/>
    <add key ="CheaterApp" value ="acad.exe"/>
    <add key ="DecryptUri" value ="net.tcp://localhost:4096/DecryptService"/>
    <add key ="TranferServiceTittle" value ="TransferServiceHost_D93B23"/>
    <add key ="DecryptServiceTittle" value ="DecryptServiceHost_B92D38"/>
    <add key ="CleanTempOnStart" value ="true"/>
  </appSettings>
</configuration>